extends layout

block content
  h3 Current Contacts:
  p 
    ul
      each contact in contacts
        li
          a(href='/contacts/#{contact._id}')
            = contact.firstName
            = '\n'
            = contact.lastName
            = '\n'
            | at 
            = '\n'
            = contact.organisation
  
  h3 Current Organisations:
  p 
    ul
      each organisation in organisations
        li
          a(href='/organisations/#{organisation._id}')
            = organisation.name


  h3 Current Opportunities
  p
  ul
      each opportunity, i in opportunities
        li
          a(href='/opportunities/#{opportunity._id}')
              = opportunity.name
