extends ../layout

block content
    h2 New Organisation Form
    
    form#formCreateOrganisation.form-horizontal(name='addorganisation', method='post', action='/organisations', novalidate)
      .panel.panel-primary
        .panel-heading  
          h3.panel-title Organisation Information
        .panel-body    
          .form-group
            label.control-label.col-sm-2(for='name') Organisation Name:
            .col-sm-10
              input#name.form-control(type='text', placeholder='First Org', Name='name', required, data-required-msg='Organisation name is required')
          .form-group
            label.control-label.col-sm-2(for='addressLine1') Address Line 1:
            .col-sm-10
              input#addressLine1.form-control(type='text', placeholder='1st Street', Name='addressLine1', required, data-required-msg='Address Line 1 is required')
          .form-group
            label.control-label.col-sm-2(for='addressLine2') Address Line 2
            .col-sm-10
              input#addressLine2.form-control(type='text', placeholder='2nd Stret', Name='addressLine2')
          .form-group
            label.control-label.col-sm-2(for='city') City:
            .col-sm-10
              input#city.form-control(type='text', Name='city', placeholder='Cityville', required, data-required-msg='City is required')
          .form-group
            label.control-label.col-sm-2(for='state') State:
            .col-sm-10
              input#state.form-control(type='text', Name='state', placeholder='Stateshire', required, data-required-msg='State is required')
          .form-group
            label.control-label.col-sm-2(for='zip') Post Code:
            .col-sm-10
              input#zip.form-control(type='text', Name='zip', placeholder='AB12 3BA', required, data-required-msg='Post Code is required')
        .panel-footer
          .btn-group
            button.btn.btn-default(type='submit') Create
              
    script
        $('#formCreateOrganisation').kendoValidator({
        });
